{% extends 'base.html.twig' %}

{% block content %}
    <h1>Image upload</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Submit</button>
    {{ form_end(form) }}
    {% if fileName is not empty %}
        <img src="upload/{{ fileName }}" alt="">
    {% endif %}
{% endblock %}
